Body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



h1, h2, h3, h4 {
    
    font-weight: 600;
    font-style: normal;
    color: #1977CC;
}

h5 {
    
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #1977CC;
}

.pam-ft-color{
    color: #1977CC;
}

.pam-hr{
    border: none;             
    height: 5px;
    background-color: #10273F;
}

.pam-bg-blue{
    background-color: #065E99;
}


.pam-bg-lightblue{
    background-color: #D9E9F4;
}

.pam-bg-grey{
    background-color: #DBDEE1;
}

.pam-hero-title{
    letter-spacing: .2rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}



/*--------------------------------------------------------------
# NAV
--------------------------------------------------------------*/
.nav-item{
    font-size: .9rem;
}


a.nav-link:hover{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: .9rem;
    text-decoration: underline;
}


.navbar-toggler {
    background-color: #D9E9F4;
    border: none;
}


.pam-btn-darkblue{
    background-color: #10273F;
    border: 0;
    border-radius: 5;
}

a.foot-links:hover{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #10273F;
    font-size: .9rem;
    text-decoration: underline; 
}

a.foot-links{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #065E99;
    font-size: .9rem;
    
}

a.foot-links:hover{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #065E99;
    font-size: .9rem;
    text-decoration: underline; 
}


/*--------------------------------------------------------------
# Page header
--------------------------------------------------------------*/
  

.pam-page-header{
    background-image: url('../img/page-header-bg.jpg');
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 20px; /* Adjust as needed for spacing */
    text-align:left;
    color: white; /* Adjust text color if needed */
}

/*--------------------------------------------------------------
# BREAK POINTS
--------------------------------------------------------------*/

  @media (max-width: 576px) { /* Bootstrap's breakpoint for small devices */
    .custom-car-img-height-sm {
      height: 50%;
    }


    /* Align "resources" nav item to the left */
    .dropdown-toggle {
        text-align: left;
    }

  }


  @media (max-width: 991px) { /* Bootstrap's breakpoint for small devices */

    /* Align "resources" nav item to the left */
    .dropdown-toggle {
        text-align: left;
    }

  }

